<!doctype html>
<html>
    <head>
        <style>
            .content {
              max-width: 500px;
              margin: auto;
            }
            </style>
    </head>
    <body style="background-color:#DFDFDF;padding-bottom:10px;">
        <div class="content">
            <img width=500 src="{{album.image}}" />
            <h2>#{{album.rank}}: <i>{{ album.title }}</i> by {{ album.artist }}</h2>
            <h6>{{album.label}}, {{album.year}}</h6>
            <div style="max-width:500px;">
                <p>{{album.description}}</p>
            </div>
            <span style="float:left;">
                <a href="/album/{{album.rank + 1}}"><h2>< Previous album</h2></a>
            </span>
            <span style="float:right;">
                <a href="/album/{{album.rank - 1}}"><h2>Next album ></h2></a>
            </span>
        </div>
    </body>
</html>


